<h2>Question by {{model.author}}:</h2>
<h3>{{model.inquiry}}</h3>
<h4>{{model.notes}}</h4>

{{edit-question question=model edit="edit"}}

{{new-answer answerSave2="answerSave3" question=model}}

<button {{action 'delete' model}}>Delete Question</button>
