<h2>Question by {{model.author}}:</h2>
<h3>{{model.inquiry}}</h3>
<h4>{{model.notes}}</h4>
<h5>{{model.category}}</h5>

{{edit-question question=model edit="edit"}}

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer answerSave2="answerSave3" question=model}}

<br>
<button {{action 'delete' model}}>Delete Question</button>
